<footer>
   <div class="la-poste">
    <p>Inspiré & développé par</p>      
    <img src="img/la-poste_blanc.png" alt="logo la poste" />
   </div>  
   <div class="wrap-contacts">
    <h3>Contactez Tribu</h3>
    <div class="contact">
        <p>
            <b>Venez nous rendre visite</b> <br>
            48, quai de la Loire <br>
            75019 Paris
        </p>
        <p>
            <b>Rentrez en contact</b> <br>
            contact@tribuparis.fr <br>
            01 24 36 25 69
        </p>
    </div>
    <p class="social-title">Soyons amis</p>
    <div class="social">
        <a href="" target="_BLANK"><img src="img/social/facebook.png" alt="facebook"></a>
        <a href="" target="_BLANK"><img src="img/social/twitter.png" alt="twitter"></a>
        <a href="" target="_BLANK"><img src="img/social/instagram.png" alt="instagram"></a>
    </div>
   </div>
   <div class="wrap-mentions">
       <ul>
           <li><a href="">Politique de confidentialité</a></li>
           <li><a href="">Mentions légales</a></li>
           <li><a href="">Espace presse</a></li>           
       </ul>
       <p>© 2018 - Fait avec amour par tribu</p>
   </div> 
</footer>