<footer>  
   <div class="wrap-contacts">
    <h3>Contactez Tribu</h3>
    <div class="contact">
        <p>
            <b>Venez nous rendre visite</b> <br>
            48, quai de la Loire <br>
            75019 Paris
        </p>
        <p>
            <b>Rentrez en contact</b> <br>
            contact@tribuparis.fr <br>
            01 24 36 25 69
        </p>
    </div>
    <hr>
    <div class="social">
        <a href="" target="_BLANK"><img src="img/social/facebook.png" alt="facebook"></a>
        <a href="" target="_BLANK"><img src="img/social/twitter.png" alt="twitter"></a>
        <a href="" target="_BLANK"><img src="img/social/instagram.png" alt="instagram"></a>
    </div>
   </div>
   <div class="wrap-mentions">
       <ul>
           <li><a href="/politique">Politique de confidentialité</a></li>
           <li><a href="/mentions">Mentions légales</a></li>
           <li><a href="/presse">Espace presse</a></li>           
       </ul>
       <p>2018 | Tribu</p>
   </div> 
</footer>