<header>
<nav>
    <ul>
        <li><a href="/">ACCUEIL</a></li>
        <li><a href="/apropos">A propos</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/inscription">Inscription</a></li>
    </ul>
</nav>
    <h1>{{ data.header.title }}</h1>
    <p>{{ data.header.text }}</p>    
</header>    