<div class="logo">
    <img alt="" src="img/logo-02.png" />
</div>
<div class="user-infos">
    <div class="user-photo">
        <div class="image">
            <img alt="" src="{{'img/users/' ~ user.image }}" />
        </div>
    </div>
    <div class="user-text">
        <div class="name">
            <span> {{'Bienvenu ' ~ user.firstname }} </span>
            <img alt="" src="{{ data.image }}" />
        </div>
        <div class="kilo">
            <img alt="" src="{{ data.kilo }}" />
        </div>
    </div>
</div>
<div class="user-menu">
    <nav>
        <ul>
            <li><a href="" class="active">Événements</a></li>
            <li><a href="">Récompenses</a></li>
            <li><a href="">Parrainage</a></li>
            <li><a href="">Tribu</a></li>           
        </ul>
    </nav>
</div>
