<div id="menu">
    <div id="menu-content" class='menu-content'>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="#">Rejoindre tribu</a></li>
                <li><a href="#">La communauté tribu</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </nav>        
    </div>
    <div id="menu-button">
        <img src='img/icons/menu.png' />
    </div>
    <div id="menu-sidebar">
        <div class="menu-sidebar-header">
            <img src='img/logo.png' />
        </div>
        <div id="menu-sidebar-body"></div>
    </div>
    <div id="menu-overlay"></div>
</div>