<div id="menu">
    <div id="menu-content" class='menu-content'>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="#">Rejoindre tribu</a></li>
                <li><a href="#">La communauté tribu</a></li>
                <li><a href="#">Trucs et astuces recyclage</a></li>
                <li><a href="#">Foire aux questions</a></li>
                <li>
                    <a href="" target="_BLANK"><img src="img/social/facebook.png" alt="facebook"></a>
                    <a href="" target="_BLANK"><img src="img/social/twitter.png" alt="twitter"></a>
                    <a href="" target="_BLANK"><img src="img/social/instagram.png" alt="instagram"></a>
                </li>
            </ul>
        </nav>        
    </div>
    <div id="menu-button">
        <img src='img/icons/menu.png' />
    </div>
    <div id="menu-sidebar">
        <img src='img/icons/close.png' id='close' />
        <div class="menu-sidebar-header">
            <img src='img/logo.png' />
        </div>
        <div id="menu-sidebar-body"></div>
    </div>
    <div id="menu-overlay"></div>
</div>