<div id="menu">
    <div id="menu-content" class='menu-content'>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="#">Rejoindre tribu</a></li>
                <li><a href="#">La communauté tribu</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </nav>        
    </div>
    <button id="menu-button">&#9776;</button>
    <div id="menu-sidebar">
        <div id="menu-sidebar-header"></div>
        <div id="menu-sidebar-body"></div>
    </div>
    <div id="menu-overlay"></div>
</div>