<div class="social-block">
    <img class='icon-social' src="{{'img/icons/social/' ~ type ~ '.png'}}" />
    <div class='image'>
        <img alt="" src="{{ data.image }}" />
    </div>
    <p>{{data.text}}</p>
</div>