<div id="user-header" class='user-header'>
    {% if session %} 
    <div id='user-btn'>
        <a href="/logout">
            <img src='img/icons/close.png' />
        </a>
    </div> 
    {% else %}
    <div id='user-btn'>
        <a href="/login">
            <img src='img/icons/user.png' />
        </a>
    </div>
    {% endif %} 
</div>  