@import 'reset';

//Fonts
@font-face {
    font-family: 'Nexa';
    src: url('../../fonts/Nexa/NexaRegular.otf') format('truetype');
    font-weight: normal;         
}
@font-face {
  font-family: 'Circular';
  src: url('../../fonts/Circular/circular-medium.otf') format('truetype');
  font-weight: normal;         
}
@font-face {
  font-family: 'Circular-italic';
  src: url('../../fonts/Circular/circular-book-italic.otf') format('truetype');
  font-weight: italic;         
}
@font-face {
  font-family: 'Circular-book';
  src: url('../../fonts/Circular/circular-book.otf') format('truetype');
  font-weight: normal;         
}
@font-face {
  font-family: 'Circular-bold';
  src: url('../../fonts/Circular/CircularStd-Bold.ttf') format('truetype');
  font-weight: bold;         
}

$font_title : 'Circular', 'arial', sans-serif;
$font_title_bold : 'Circular-bold', 'arial', sans-serif;
$font_general : 'Nexa', 'arial', sans-serif;
$font_citation_italic : 'Circular-italic', 'arial', sans-serif;
$font_citation : 'Circular-book', 'arial', sans-serif;

//Colors
$blue1 : #26BCAD;
$blue2 : #8FEFD9;
$blue3 : #B3DDFF;
$blue4: #6CAFDD;

$yellow : #F2D443;

$dark : #2b2b2b;
$gray : '';
$white : #FFFFFF;

// Media Queries
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}