@import 'config';
@import 'ui';

h1{
    font-family: $font_title;
    font-size: 20px;
    color: blue;
}

#menu, #menu-content {
    display: inline;
}
#menu {
    font-family: $font_general;
    .menu-sidebar-header{
        text-align: center;
        padding: 80px 0;
        margin: 0 auto;
        img {
            width: 150px;
        }
    }
}
#menu-button {
    display: none;
    cursor: pointer;   
}

#menu-overlay {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

#menu-sidebar {
    display: none;
    position: fixed;
    width: 100%;    
    z-index: 20;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $blue2;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform .2s ease-out;

    #close {
        position: absolute;
        display: inline-block;
        right: 10px;
        top: 10px;
    }
}
#menu-sidebar li {
    display: block;
    padding: 4% 0;
    text-align: center;
    a {
        color: $dark;
        font-size: 20px;
        text-decoration: none;
        display: inline-block;
        padding: 0 5%;
    }
}
#menu-sidebar-body {
    //padding: 16px 8px;
}
#menu-sidebar-body li:before {
    //content: ' ';
    //display: inline-block;
    //vertical-align: middle;
    //margin-bottom: 4px;
   // margin-right: 16px;
    //width: 24px;
   // height: 24px;
}
#menu-sidebar-body .button {
    margin-top: 16px;
    text-align: center;
    float: none;
    display: block;
    height: auto;
    line-height: inherit;
    padding: 10px;
}

@media screen and (max-width: 1024px) {   

    #menu-content {
        display: none;
    }

    #menu-button, #menu-sidebar,
    .menu-activated #menu-overlay {
        display: block;
    }

    .menu-activated #menu-sidebar {
        transform: translateX(0);
    }
}

header {
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    .user-header {
               
    }
    .user-content{
        position: absolute;
        right: 0;
        display: none;
        &.active {
            display: block;
        }
    }
}

.home-page {
    .wrap-header {
        h1 {
            font-family: $font_citation;
            color: $green1;
            font-size: 18px;
        }        
        .button-join {
            margin-top: 30px;
        }
    }
    .wrap-type-member {
        margin-top: 60px;
    }
    .wrap-portrait{        
        h2{
            margin-top: 60px;            
            color: $blue1;
            @include title_h2;   
        }
        .citation {           
            padding: 30px 10px;
            min-height: 120px;
            max-width: 400px;
            margin: 0 auto;
            .desc {
                font-family: $font_citation_italic;
                line-height: 20px;
            }
            .auther {
                margin-top: 15px;
                font-family: $font_citation;
            }
        }
        .portrait-social, .portrait-button {
            margin-top: 40px;
        }        
    }
    .section-infos{
        margin-top: 40px;
    }
    .section-astuces {
        margin-top: 40px;
        h2 {
            @include title_h2;  
            color: $yellow;
        }
        .block-astuce {
            margin-top: 40px;
        }
        .button-containt {
            margin-top: 40px;
        }
    }
    .section-news {
        background-color: $blue1;
        padding: 30px 0;
        margin-top: 40px;
        h2 {
            @include title_h2;  
            color: $white;           
        }
        .button-containt {
            margin-top: 40px;
            .button {
                &.blue {
                    border: 1px solid $white;
                }
                
            }
        }
    }
    .section-carte {
        margin-top: 40px;
        .carte {
            text-align: center;
        }
    }
}
.communaute-page {
    .wrap-header {
        h1 {
            color: $green1;
        }        
        .button-join {
            margin-top: 30px;
        }
    }
    .wrap-project {
        margin-top: 40px;       
        .info-main {
            background-color: $blue2;
            padding: 20px 10%;
            h2{
                @include title_h2;
                color: $dark;
            }
            p{
                margin-top: 20px;
                font-family: $font_general;
                color: $dark;
                line-height: 19px;
            }
        }
        .la-poste {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $dark;
            font-family: $font_title;
            font-size: 13px;
            margin-top: 7px;   
            p{
                margin-left: 5px;
                margin-top: 0;
            }
        }
        .image-main{
            //padding: 30px 0;
           
            .image {
                text-align: center;
                max-width: 500px;
                margin: 0 auto;
                img {
                    width: 100%;
                }                
            }
        }
    }
    .wrap-explains-member{
        margin-top: 30px;
        padding: 20px 10%;
        h2 {
            @include title_h2;  
            color: $dark; 
        }
        p{
            color: $dark; 
            font-family: $font_general;
            font-size: 15px; 
            margin-top: 15px;
        }
        .type-members {
            margin-top: 20px;
            display: flex;
            justify-content: center;

            .member {
                width: 50%;
                max-width: 250px;
                margin: 0 10px;
                text-align: center;
                h3{
                    @include title_h2;  
                    color: $dark;
                    font-size: 17px;
                    margin-top: 15px;
                }
            }
        }
    }
    .wrap-type-member {
        margin-top: 40px;
    }
    .wrap-numbers {
        margin-top: 40px;
        padding: 0 3%;
        .main {           
            max-width: 400px;            
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .image {
                width: 49%;
                max-width: 200px;
                margin: 30px 0;
                text-align: center;                
            }
            p {
                width: 49%;
                font-family: $font_general;
            }
        }
    }
    .wrap-celebrate {
        margin-top: 40px;

        .info-main {
            padding: 20px 10%;
            text-align: center;
            color: $white;
            background-color: $green1;

            h2 {
                @include title_h2;
            }
            p{
                font-family: $font_general;
                font-size: 13px;
                line-height: 15px;
                margin-top: 20px;
            }
        }
        .events {
            text-align: center;
            margin-top: 40px;
            .event {
                max-width: 150px;
                text-align: center;
                display: inline-block;
                margin: 10px 2%;
                .event-image {
                    border: 1px solid $green1;
                    width: 150px;
                    height: 120px;
                    padding: 10px 0;
                    box-sizing: border-box;
                }
                p {
                    background-color: $green1;
                    color: $white;
                    padding: 5px 10%;
                    font-family: $font_general;
                    font-size: 13px;
                    min-height: 40px;
                    line-height: 40px;
                    span {
                        display: inline-block;
                        vertical-align: middle;
                        line-height: 1em;
                    }
                }
            }
        }
    }
}
.login-page {
    .wrap-header{
        .image {
            text-align: center;
        }
        .title-line {
            margin-top: 20px;
            h1 {
                font-family: $font_title;
                font-size: 22px;
                text-align: center;
                color: $green1;
                background-color: $white;
                display: block;
                max-width: 320px;
                margin: 0 auto;
            }
            hr {
                border: 1px solid $green1;
                position: relative;
                width: 100%;
                bottom: 37px;
                z-index: -1;
            }
        }
        h2{            
            @include title_h2;
            color: $yellow;
        }
        .button-containt {
            margin-top: 20px;
        }
    }
    .wrap-form{
        margin-top: 20px;
        padding: 20px 0;
        .button-containt {
            margin-top: 40px;
        }
    }
}
.inscription-page {
    .wrap-header {
        .block-header-inscription {
            .image {
                text-align: center;
            }
            h1 {
                font-family: $font_title;
                color: $yellow;
                font-size: 18px;
                text-align: center;
                margin-top: 20px;
            }
            .step-line {
                margin-top: 20px;
                p {
                    font-family: $font_title;
                    font-size: 20px;
                    color: $green1;
                    background-color: #FFFFFF;
                    display: block;
                    max-width: 80px;
                    text-align: center;
                    margin: 0 auto;
                    span {
                        padding: 0 5px;
                        color: $white;
                        background-color: $green1;
                    }
                }
                hr {
                    border: 1px solid $green1;
                    position: relative;
                    width: 100%;
                    bottom: 20px;
                    z-index: -1;
                }
            }
        }
    }
    .wrap-form {
        .button-containt {
            margin-top: 40px;
        }
    }
    .wrap-main-step-02 {
        padding: 20px 10%;

        h3 {
            @include title_h2;
            color: $dark;
        }
        .subtitle {
            font-family: $font_general;
            font-size: 15px;
            text-align: center;
            margin-top: 20px;
        }
        .set-member-form {
            text-align: center;
            .member-type {
                display: inline-block;
                margin: 0 2%;
                .radio {
                    -webkit-appearance : none;
                    &:checked  {
                        ~ p {
                            background-color: $red;
                            color: $white;
                        }
                    }
                }
                .image {
                    text-align: center;
                }
                p {
                    width: 120px;
                    text-align: center;
                    padding: 10px 5px;
                    font-size: 16px;
                    font-family: $font_general;
                    margin-top: 10px;
                    border: 2px solid $red;
                    color: $red;
                }
            }            
        }
    }
    .wrap-about {
        padding: 20px 10%;
        margin-top: 10px;
        h2{
            @include title_h2;
            color: $dark;
        }
        p {
            font-family: $font_general;
            color: $dark;
            font-size: 15px;
            margin-top: 20px;
        }
        .steps{
            margin-top: 20px;
            .step {
                width: 75%;
                max-width: 350px;
                text-align: center;
                margin: 0 auto;
                .image{
                    margin-top: 20px;
                }
            }
        }
        .buttons-container {
            margin-top: 40px;
            .button-containt{
                margin-top: 20px;
                .button {
                    &.secondary {
                        padding: 10px 23px;
                    }
                }
            }
        }
    }
    .wrap-main-step-03 {
        margin-top: 20px;
        h3 {
            @include title_h2;
            color: $dark;
            font-size: 18px;
        }
        .subtitle {
            font-family: $font_general;
            color: $dark;
            font-size: 18px;
            text-align: center;
        }        
    }
    .wrap-form-03 {
        padding: 0 3%;
        margin-top: 40px;
        h3{
            @include title_h2;
            color: $green1;
        }
        .form-step-3 {
            margin-top: 30px;
            .question{
                font-family: $font_title;
                color: $dark;
                text-align: left;
                font-size: 17px;
            }
            label {
                display: flex;
                align-items: center;
                margin-top: 15px;
            }
            .radio {
                -webkit-appearance : none;
                    &:checked  {
                        ~ .icon {
                            background: url('../../img/icons/checked.png') no-repeat center center;
                        }
                    }
            }
            .icon {
               border: 2px solid $green1;
               width: 20px;
               height: 20px;
               display: inline-block;     
            }
            p{
                font-family: $font_general;
                color: $dark;
                font-size: 14px;
                display: inline-block;
                margin-left: 10px;
            }
        }
        .buttons-container {
            margin-top: 40px;
            .button-containt{
                margin-top: 20px;
                .button {
                    &.secondary {
                        padding: 10px 23px;
                    }
                }
            }
        }
    }
    .wrap-form-04 {
        margin-top: 40px;
        h3{
            @include title_h2;
            color: $green1;
        }
        .buttons-container {
            margin-top: 40px;
            .button-containt{
                margin-top: 20px;
                .button {
                    &.secondary {
                        padding: 10px 23px;
                    }
                }
            }
        }
        .form-group {
            #city {
                width: 58%;
                max-width: 295px;
            }
        }
    }
    .wrap-tribu {
        margin-top: 40px;
        h2{
            @include title_h2;
            color: $dark;
        }
        .image{
            margin-top: 40px;
            text-align: center;
        }
        .buttons-container {
            margin-top: 40px;
            .button-containt{
                margin-top: 20px;
                .button {
                    &.secondary {
                        padding: 10px 23px;
                    }
                }
            }
        }
    }
    .wrap-main-step-05{
        h2 {
            @include title_h2;
            color: $dark;
            margin-top: 20px;
        }
        p {
            font-family: $font_title;
            text-align: center;
            color: $dark;
            font-size: 17px;
            padding: 0 2%;
            max-width: 600px;
            margin: 20px auto 0;
        }
        .buttons-container {
            margin-top: 40px;

            .button-containt {
                margin-top: 20px;
            }
        }

    }
}
.event-container {
    margin-top: 30px;
    h2 {
        @include title_h2;  
        color: $green1; 
    }
    .event {
        margin-top: 30px;
        .event-image {
            width: 160px;
            height: 160px;
            display: block;
            margin: 0 auto;
            box-shadow: 3px 2px 5px 3px rgba(198, 198, 198, 0.28);
        }
        p {
            width: 160px;
            height: 50px;
            margin: 0 auto; 
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $green1;
            font-family: $font_general;
            text-align: center;
            font-size: 13px;
            line-height: 15px;
            color: $white;
            box-shadow: 3px 4px 5px 3px rgba(198, 198, 198, 0.28);
        }
    }
    
}
footer {
    //position: absolute;
    bottom: 0;
    width: 100%;   
    .la-poste {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $dark;
        font-family: $font_title;
        font-size: 17px;
        padding: 20px 0;

        p{
            margin-left: 5px;
        }
    }
    .wrap-contacts {
        text-align: center;
        font-family: $font_title;
        color: $white;
        background-color: $green1;
        padding: 20px 0;
        h3{
            font-size: 18px;           
        }
        .contact {
            margin-top: 20px;
            display: flex;
            p {
                width: 50%;
                font-size: 13px;
                line-height: 18px;
                font-family: $font_citation;

                b{
                    font-family: $font_title;
                }
            }
        }
    }
    .social-title {
        margin-top: 20px;
    }
    .social {
        margin-top: 20px;
        text-align: center;
        a {
            margin: 0 20px;
        }
    }
    .wrap-mentions {
        background-color: $blue1;
        padding: 5px 0;
        ul {
            li {
                padding: 12px 0;
                text-align: center;
                a {
                    color: $dark;
                    font-family: $font_title;
                    font-size: 16px;
                    text-decoration: none;
                }
            }
        }
        p{
            padding: 10px 0;
            color: $dark;
            font-family: $font_general;
            text-align: center;
            font-size: 13px;
        }
    }
}
.user-page {
    .header-page {
        .logo {
            text-align: center;
        }
        .user-infos{
            display: flex;
            align-items: center;            
            margin-top: 40px;
            padding: 0 2%;
            .user-photo{
                margin: 0 2%;
                .image {                   
                    border-radius: 50%;
                    overflow: hidden;
                    width: 130px;
                    height: 130px;
                    text-align: center;
                    img {
                        //width: 100%;
                    }
                }
            }
            .user-text {
                .name{
                    display: flex;
                    align-items: center;
                    span {
                        @include title_h2;
                        color: $dark;
                        font-size: 18px;
                        margin-right: 10px;                        
                    }
                    img {
                        width: 50px;
                        position: relative;
                        bottom: 17px;
                    }    
                    
                }
                .kilo{
                    margin-top: 15px;
                }
            }
        }
        .user-menu {
            nav {
                text-align: center;
                padding: 20px 0 15px;
                box-shadow: 1px 5px 5px 0px #c6c6c6;
                ul {
                    display: flex;
                    justify-content: space-around;
                    li {
                        display: inline-block;                                              
                        a {
                            text-decoration: none;
                            font-family: $font_general;
                            color: #9B9B9B;
                            font-size: 13px;
                            padding-bottom: 5px;
                            
                            &.active {
                                color: $dark;
                                border-bottom: 1px solid $green1;

                            }
                        }
                    }
                }
            }
        }
    }
    .wrap-content{
        margin-top: 40px;
        h2 {
            @include title_h2;
            color: $dark;
            margin-top: 20px;
        }
        .button-containt {
            margin-top: 40px;
        }
        #next-events{
            margin-top: 40px;
        }
        #previous-events {
            margin-top: 40px;
        }
    }

}
#spiner {    
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear, z-index 0.33s linear;
    &.hidden {
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        //display: none;
    }
}