{% extends "layout.html.twig" %}

{% block page_title %}
    Event
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}

<div class="user-page events">
<section class="header-page">
     {% include 'components/_header-user.html.twig' with {data : data.header, user : user} %}
</section>
<section class="wrap-all-events">
    <h2>{{ data.events.title }}</h2>
    {% for event in data.events.events %}
        {% include 'components/_user_events.html.twig' with {data : event} %}
    {% endfor %}
</section>
<div>   
{% endblock %}