{% extends "layout.html.twig" %}

{% block page_title %}
    Se connecter
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="login-page">
    <section class='wrap-header'>     
        <div class="image">
            <img alt="image" src="{{ data.header.image }}" />
        </div>

        <div class="title-line">
            <h1>{{ data.header.title }}</h1>
            <hr>
        </div>
        <h2>{{ data.header.subtitle }}</h2>

        {% for button in data.header.buttons %}
            {% include 'components/_button-ui.html.twig' with {data : button} %}
        {% endfor %}         
    </section>
    
    <section class='wrap-form'>
        <form action='/connection' method='post'>

            <!-- Email / Pseudo -->
            <div class="form-group">            
                <div class="input-container">
                    <input class="input-text ui" id="email" name="email" type="text" placeholder="Email">
                </div>
                <div class="input-container">
                    <input class="input-text ui" id="password" name="password" type="password" placeholder="Mot de passe">
                </div>
            </div>

            <!-- Button -->
            <div class="button-containt">
                <button id="submit" name="submit" class="button ui primary">Connexion</button>
            </div>

        </form>
    </section>
</div>  
{% endblock %}