{% extends "layout.html.twig" %}

{% block page_title %}
    My Account
{% endblock %}

{% block stylesheets %}
    
{% endblock %}

{% block content %}

<p>NOM : {{ user.name }}</p>
<p>PRENOM : {{ user.firstname }}</p>
<p>EMAIL : {{ user.email }}</p>

   
{% endblock %}