html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Nexa';
  src: url("../../fonts/Nexa/NexaRegular.otf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: 'Circular';
  src: url("../../fonts/Circular/circular-medium.otf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: 'Circular-italic';
  src: url("../../fonts/Circular/circular-book-italic.otf") format("truetype");
  font-weight: italic; }

@font-face {
  font-family: 'Circular-book';
  src: url("../../fonts/Circular/circular-book.otf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: 'Circular-bold';
  src: url("../../fonts/Circular/CircularStd-Bold.ttf") format("truetype");
  font-weight: bold; }

.button-containt {
  text-align: center; }
  .button-containt .button.ui {
    text-decoration: none;
    padding: 10px 30px;
    text-align: center;
    border-radius: 24px;
    display: inline-block;
    position: relative;
    font-family: "Nexa", "arial", sans-serif;
    font-size: 15px; }
    .button-containt .button.ui::after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 24px;
      top: 3px;
      left: 5px;
      width: 100%;
      height: 100%;
      z-index: 1; }
    .button-containt .button.ui span {
      position: relative;
      z-index: 3; }
  .button-containt .button.primary {
    border: 1px solid #2b2b2b;
    color: #FFFFFF; }
    .button-containt .button.primary::after {
      background-color: #F2D443; }
  .button-containt .button.secondary {
    border: 1px solid #2b2b2b;
    color: #2b2b2b; }
    .button-containt .button.secondary::after {
      background-color: #FFFFFF; }
  .button-containt .button.blue {
    border: 1px solid #B3DDFF;
    color: #FFFFFF; }
    .button-containt .button.blue::after {
      background-color: #6CAFDD; }
  .button-containt .button.normal_white {
    border: 1px solid #FFFFFF;
    color: #FFFFFF; }
    .button-containt .button.normal_white::after {
      background: none; }

.social-block .containt {
  display: flex;
  justify-content: center; }
  .social-block .containt .image {
    width: 200px;
    height: 150px;
    position: relative; }
    .social-block .containt .image::after {
      content: '';
      display: block;
      width: 35px;
      height: 35px;
      position: absolute;
      top: -30px;
      left: -5px; }
    .social-block .containt .image.instagram::after {
      content: url("../../img/social/sb-instagram.png"); }
    .social-block .containt .image.facebook::after {
      content: url("../../img/social/sb-facebook.png"); }
  .social-block .containt .text {
    width: 112px;
    height: 150px;
    font-size: 13px;
    line-height: 17px;
    display: flex;
    align-items: center;
    padding: 0 5px; }
    .social-block .containt .text .desc {
      font-family: "Circular-italic", "arial", sans-serif;
      color: #2b2b2b; }
    .social-block .containt .text .author {
      font-family: "Circular-book", "arial", sans-serif;
      color: #B3DDFF; }

.social-block.gray .containt .text {
  box-shadow: 2px 3px 7px #B3DDFF; }

.info-block .containt {
  color: #FFFFFF;
  font-family: "Circular", "arial", sans-serif;
  text-align: center;
  padding: 30px 10%; }
  .info-block .containt h3 {
    font-size: 100px; }
  .info-block .containt p {
    font-size: 25px;
    line-height: 30px;
    margin-top: 20px; }
  .info-block .containt .button-containt {
    margin-top: 40px; }

.info-block.green {
  background-color: #26BCAD; }

.block-astuce .astuce {
  max-width: 280px;
  margin: 0 auto; }
  .block-astuce .astuce .astuce-image {
    width: 100%;
    height: 215px;
    margin: 0 auto; }
  .block-astuce .astuce .infos {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 40px;
    left: 15px; }
    .block-astuce .astuce .infos .icon {
      width: 63px;
      height: 63px; }
      .block-astuce .astuce .infos .icon img {
        width: 100%; }
    .block-astuce .astuce .infos h3 {
      font-family: "Circular-bold", "arial", sans-serif;
      font-size: 17px; }
    .block-astuce .astuce .infos p {
      font-family: "Circular", "arial", sans-serif;
      font-size: 13px;
      line-height: 17px; }

.block-astuce.yellow .astuce .infos {
  background-color: #F2D443;
  color: #FFFFFF; }

h1 {
  font-family: "Circular", "arial", sans-serif;
  font-size: 20px;
  color: blue; }

#menu, #menu-content {
  display: inline; }

#menu {
  font-family: "Nexa", "arial", sans-serif; }
  #menu .menu-sidebar-header {
    text-align: center;
    padding: 20px 0;
    margin: 0 auto;
    background-color: #FFFFFF; }
    #menu .menu-sidebar-header img {
      width: 150px; }

#menu-button {
  display: none;
  cursor: pointer; }

#menu-overlay {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); }

#menu-sidebar {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 20;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #8FEFD9;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform .2s ease-out; }
  #menu-sidebar #close {
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 10px; }

#menu-sidebar li {
  display: block;
  padding: 4% 0;
  text-align: center; }
  #menu-sidebar li a {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 0 5%; }

#menu-sidebar-body .button {
  margin-top: 16px;
  text-align: center;
  float: none;
  display: block;
  height: auto;
  line-height: inherit;
  padding: 10px; }

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 42px;
    line-height: 56px; }
  #menu-content {
    display: none; }
  #menu-button, #menu-sidebar,
  .menu-activated #menu-overlay {
    display: block; }
  .menu-activated #menu-sidebar {
    transform: translateX(0); } }

header {
  padding: 15px 10px;
  display: flex;
  justify-content: space-between; }
  header .user-content {
    position: absolute;
    right: 0;
    display: none; }
    header .user-content.active {
      display: block; }

.home-page .wrap-header .image {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center; }
  .home-page .wrap-header .image img {
    width: 100%; }

.home-page .wrap-header h1 {
  margin-top: 20px;
  color: #26BCAD;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  font-family: "Circular", "arial", sans-serif; }

.home-page .wrap-header .button-join {
  margin-top: 30px; }

.home-page .wrap-type-member {
  margin-top: 60px;
  font-family: "Nexa", "arial", sans-serif; }
  .home-page .wrap-type-member .containt {
    background: url("../../img/backgrounds/background-01.png") center center no-repeat;
    background-color: #F2D443;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 30px; }
    .home-page .wrap-type-member .containt p {
      font-size: 13px;
      line-height: 15px; }
    .home-page .wrap-type-member .containt h3 {
      font-size: 18px;
      margin-top: 30px;
      line-height: 25px; }
    .home-page .wrap-type-member .containt .button-container {
      margin-top: 30px; }

.home-page .wrap-portrait h2 {
  margin-top: 60px;
  font-family: "Circular", "arial", sans-serif;
  color: #B3DDFF;
  text-align: center;
  font-size: 20px; }

.home-page .wrap-portrait .citation {
  background: url("../../img/backgrounds/background-02.png") center center no-repeat;
  padding: 30px 0;
  min-height: 120px;
  max-width: 400px;
  margin: 0 auto; }
  .home-page .wrap-portrait .citation .desc {
    font-family: "Circular-italic", "arial", sans-serif;
    line-height: 20px; }
  .home-page .wrap-portrait .citation .auther {
    margin-top: 15px;
    font-family: "Circular-book", "arial", sans-serif; }

.home-page .wrap-portrait .portrait-social, .home-page .wrap-portrait .portrait-button {
  margin-top: 40px; }

.home-page .section-infos {
  margin-top: 40px; }

.home-page .section-astuces {
  margin-top: 40px; }
  .home-page .section-astuces h2 {
    text-align: center;
    font-family: "Circular", "arial", sans-serif;
    color: #F2D443;
    font-size: 20px; }
  .home-page .section-astuces .block-astuce {
    margin-top: 40px; }

.event-container {
  margin-top: 30px; }
  .event-container h2 {
    text-align: center;
    font-size: 20px;
    font-family: "Circular", "arial", sans-serif;
    color: #26BCAD; }
  .event-container .event {
    margin-top: 30px; }
    .event-container .event .event-image {
      width: 160px;
      height: 160px;
      display: block;
      margin: 0 auto;
      box-shadow: 3px 2px 5px 3px rgba(198, 198, 198, 0.28); }
    .event-container .event p {
      width: 160px;
      height: 50px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #26BCAD;
      font-family: "Nexa", "arial", sans-serif;
      text-align: center;
      font-size: 13px;
      line-height: 15px;
      color: #FFFFFF;
      box-shadow: 3px 4px 5px 3px rgba(198, 198, 198, 0.28); }

footer {
  bottom: 0;
  width: 100%; }
  footer .contact {
    display: flex; }
    footer .contact p {
      width: 50%; }
  footer .social {
    text-align: center; }
