{% extends "base.html.twig" %}

{% block stylesheets %}
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:400,400i,600,700'
          rel='stylesheet'>

    <!-- Css -->
    <link rel="stylesheet" href="public/stylesheet/css/style.css"/>

    
{% endblock %}

{% block body %}  

    <main class="main-wrapper">        
        {% include 'components/_header.html.twig' %}        
        
        <div class="content-wrapper">
            
            {% block content %}
                
            {% endblock %}

            {% include 'components/_footer.html.twig' %}
        </div>
    </main>

{% endblock %}

{% block javascripts %}
    <!-- jQuery Scripts -->   
    <script type="text/javascript" src="public/js/script.js"></script>
{% endblock %}
